[Unit]
Description=Starts a bittorrent tracker, which aids bittorrent clients by locating other clients.
After=network.target ldap.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/sysconfig/bittorrent
ExecReload=/usr/sbin/bittorrent reload
ExecStart=/usr/sbin/bittorrent start
ExecStop=/usr/sbin/bittorrent stop
PIDFile=/var/run/bittorrent.pid

[Install]
WantedBy=multi-user.target
