[Unit]
Description=Starts a multicast session for each LINBO image
After=network.target ldap.service

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=/etc/sysconfig/linbo-multicast
ExecReload=/usr/sbin/lino-multicast reload
ExecStart=/usr/sbin/linbo-multicast start
ExecStop=/usr/sbin/linbo-multicast stop
PIDFile=/var/run/linbo-multicast.pid

[Install]
WantedBy=multi-user.target
